.idea

k8s/microservice/all.yml
k8s/microservice/output
k8s/microservice/logs
k8s/microservice/pbgo

k8s/gozero-demo/pb

k8s/kratos-demo/gateway-service/bin
k8s/kratos-demo/time-service/bin

k8s/kitex-demo/time-service/output
